<p>
  <%= flash[:notice] %>
</p>

<h1>Bookmarks</h1>

<br>
<ul>
<% @list.each do |bookmark| %>
  <li class="bookmark" style= "display: inline-block;">
    <a style="float: left; padding: 2.5px; color: black;" href="<%= bookmark.url %>" target="_blank"><%= bookmark.title %> </a>
    <form style="float: left; padding: 2.5px;" action="bookmarks/<%= bookmark.id %>/update" method="get">
      <input type="submit" value="Edit" />
    </form>
    <form style="float: left; padding: 2.5px;" action="bookmarks/<%= bookmark.id %>/delete" method="post">
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete" />
    </form>
  </li>
      <br>
<% end %>
</ul>

<form style="float: left; margin-left: 3%;" action="bookmarks/new" method="get">
    <input type="submit" value="New" />
</form>
